# Module 1: Python Basics - Variables & Data Types
**Author:** Bandla Nikhil Nagarjuna  
**Date:** Feb 8, 2026

# 1. Defining Variables
# Integer (Whole Numbers)

In [10]:
student_id = 101
print(f"student ID: {student_id}")

student ID: 101

# Float (Decimal Number)

In [11]:
cgpa = 9.8
print(f"cgpa: {cgpa}")

cgpa: 9.8

# String (Text)

In [12]:
Student_name = "Arjun"
print(f"Student Name: {Student_name}")

Student Name: Arjun

# Boolean (True/false - Logic)

In [13]:
is_registered = True
print(f"Is registered: {is_registered}")

Is registered: True

# 2. Checking Data Types using type() function

In [14]:
print(type(student_id))
print(type(cgpa))
print(type(student_name))
print(type(is_registered))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# 3. Dynamic Typing

In [15]:
data = 100
print(f"Data is now: {data}, type: {type(data)}")

data = "now I am a string"
print(f"data is now: {data}, type: {type(data)}")

Data is now: 100, type: <class 'int'>
data is now: now I am a string, type: <class 'str'>

# PROFESSIONAL ASSIGNMENT

In [23]:
emp_id = 50671
print(f"Employee ID is: {emp_id}")

Employee ID is: 50671

In [24]:
emp_name = "Arjun Vasudev"
print(f"Employee name is : {emp_name}")

Employee name is : Arjun Vasudev

In [25]:
emp_salary = 85000.76
print(f"Employee salary is: {emp_salary}")

Employee salary is: 85000.76

In [26]:
Is_permanent = True
print(f"Employee is permanent: {Is_permanent}")

Employee is permanent: True

In [28]:
print(type(emp_id))
print(type(emp_name))
print(type(Is_permanent))
print(type(emp_salary))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>