# Module 1: Python Basics - Variables & Data Types
**Author:** Bandla Nikhil Nagarjuna  
**Date:** Feb 8, 2026

# 1. Defining Variables
# Integer (Whole Numbers)

In [10]:
student_id = 101
print(f"student ID: {student_id}")

student ID: 101

# Float (Decimal Number)

In [11]:
cgpa = 9.8
print(f"cgpa: {cgpa}")

cgpa: 9.8

# String (Text)

In [12]:
Student_name = "Arjun"
print(f"Student Name: {Student_name}")

Student Name: Arjun

# Boolean (True/false - Logic)

In [13]:
is_registered = True
print(f"Is registered: {is_registered}")

Is registered: True

# 2. Checking Data Types using type() function

In [14]:
print(type(student_id))
print(type(cgpa))
print(type(student_name))
print(type(is_registered))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# 3. Dynamic Typing

In [15]:
data = 100
print(f"Data is now: {data}, type: {type(data)}")

data = "now I am a string"
print(f"data is now: {data}, type: {type(data)}")

Data is now: 100, type: <class 'int'>
data is now: now I am a string, type: <class 'str'>

# PROFESSIONAL ASSIGNMENT

In [23]:
emp_id = 50671
print(f"Employee ID is: {emp_id}")

Employee ID is: 50671

In [24]:
emp_name = "Arjun Vasudev"
print(f"Employee name is : {emp_name}")

Employee name is : Arjun Vasudev

In [25]:
emp_salary = 85000.76
print(f"Employee salary is: {emp_salary}")

Employee salary is: 85000.76

In [26]:
Is_permanent = True
print(f"Employee is permanent: {Is_permanent}")

Employee is permanent: True

In [28]:
print(type(emp_id))
print(type(emp_name))
print(type(Is_permanent))
print(type(emp_salary))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

# Module 2: Python Lists (Data Structures)

# 1. LIST CREATION

In [29]:
response_time = [120, 45, 230, 15, 90]

print(f"server times: {response_time}")

server times: [120, 45, 230, 15, 90]

# 2. INDEXING (Accessing Data)

In [31]:
first_request = response_time[0]
print(f"First Response Time: {first_request}")

First Response Time: 120

In [32]:
third_request = response_time[2]
print(f"third response time: {third_request}")

third response time: 230

In [33]:
last_request = response_time[-1]
print(f"last response time: {last_request}")

last response time: 90

# 3. ANALYSIS FUNCTIONS

In [34]:
fastest = min(response_time)
print(f"fastest response: {fastest} ms")

fastest response: 15 ms

In [35]:
slowest = max(response_time)
print(f"slowest response: {slowest} ms")

slowest response: 230 ms

In [36]:
total_requests = len(response_time)
print(f"total requests: {total_requests}")

total requests: 5

In [37]:
avg_time = sum(response_time) / len(response_time)
print(f"Average response time: {avg_time} ms")

Average response time: 100.0 ms

# PROFESSIONAL ASSIGNMENT FOR MODULE 2

In [38]:
student_marks = [85, 92, 56, 78, 100]
print(f"student marks: {student_marks}")

student marks: [85, 92, 56, 78, 100]

In [39]:
topper_marks = max(student_marks)
print(f"topper marks: {topper_marks}")

topper marks: 100

In [40]:
least_marks = min(student_marks)
print(f"least marks: {least_marks}")

least marks: 56

In [41]:
avg_marks = sum(student_marks) / len(student_marks)
print(f"average marks: {avg_marks}")

average marks: 82.2

# Module 3: Python Dictionaries (Real-World Data)

# 1. CREATION (USE CURLY BRACKETS{})

In [47]:
student_record = {
    "name" : "Arjun Vasudev",
    "roll_number" : "2028MCA01",
    "skills": ["python", "SQL", "AI"],
    "cgpa": "9.8",
    "is_placed": False
}

print(f"student record: {student_record}")

student record: {'name': 'Arjun Vasudev', 'roll_number': '2028MCA01', 'skills': ['python', 'SQL', 'AI'], 'cgpa': '9.8', 'is_placed': False}

# 2. ACCESSING DATA (No Index, Only Key)

In [48]:
print(f"student_name: {student_record['name']}")

student_name: Arjun Vasudev

In [50]:
print(f"skills: {student_record['skills']}")

skills: ['python', 'SQL', 'AI']

# 3. MODIFYING DATA

In [51]:
student_record['is_placed'] = True
student_record['skills'].append("deep learning")

print(f"updated record: {student_record}")

updated record: {'name': 'Arjun Vasudev', 'roll_number': '2028MCA01', 'skills': ['python', 'SQL', 'AI', 'deep learning'], 'cgpa': '9.8', 'is_placed': True}

# 4. KEYS & VALUES

In [52]:
print(f"labels: {student_record.keys()}")
print(f"values: {list(student_record.values())}")

labels: dict_keys(['name', 'roll_number', 'skills', 'cgpa', 'is_placed'])
values: ['Arjun Vasudev', '2028MCA01', ['python', 'SQL', 'AI', 'deep learning'], '9.8', True]

# PROFESSIONAL ASSIGNMENT FOR MODULE 3

In [58]:
movie_data = {
    "title": "Mahayuddham",
    "hero": "Kishore",
    "budget": 20000000,
    "is_hit": False
}

print(f"movie data: {movie_data}")

movie data: {'title': 'Mahayuddham', 'hero': 'Kishore', 'budget': 20000000, 'is_hit': False}

In [57]:
movie_data["is_hit"] = True
print(f"updated movie data: {movie_data}")

updated movie data: {'title': 'Mahayuddham', 'hero': 'Kishore', 'budget': 20000000, 'is_hit': True}

In [55]:
movie_data['collection'] = "50000000"   
print(f"final movie data: {movie_data}")

final movie data: {'title': 'Mahayuddham', 'hero': 'Kishore', 'budget': '20000000', 'is_hit': True, 'collection': '50000000'}

# Install Pandas Library

In [59]:
%pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# 1. IMPORTING

In [1]:
import pandas as pd

# 2. CREATING DATA 
# 3. CONVERTING DATA
df = pd.DataFrame(data)
# 4. SHOW TABLE
print(df)

In [3]:
data = {
    "Hero": ["Prabhas", "Mahesh", "NTR", "Ram Charan"],
    "Movie": ["Kalki", "Guntur Karam", "Devara", "Game Changer"],
    "Budget_Cr": [600, 200, 300, 250],
    "Hit_Status": [True, True, True, True]
}
df = pd.DataFrame(data)

print(df)

         Hero         Movie  Budget_Cr  Hit_Status
0     Prabhas         Kalki        600        True
1      Mahesh  Guntur Karam        200        True
2         NTR        Devara        300        True
3  Ram Charan  Game Changer        250        True

# Pandas Task Assignment

In [4]:
cricket_data = {
    "players": ["kohli", "rohit", "dhoni"],
    "runs": [12000, 10000, 10500],
    "matches": [250, 260, 350]
}

df_cricket = pd.DataFrame(cricket_data)
print(df_cricket)

  players   runs  matches
0   kohli  12000      250
1   rohit  10000      260
2   dhoni  10500      350